

<h2>Blogs:</h2>

{{#each blog}}


{{#categoryMatch category ../path }}
<p>{{ category }} - {{ name }}<p>
{{/categoryMatch}}

{{/each}}

<hr>
<p><a href="/blog/">all</a></p>
{{#each blog_category}}
  <p><a href="/blog/category/{{cat_name}}">{{cat_name}}</a></p>
{{/each}}
