<h1>PAGE {{this.pagination.num}}</h1>

{{#if this.pagination}}
    <nav class="pagination">
        {{#if this.pagination.previous}}
            <a href="{{paginifyPath this.pagination.previous.path}}">&lt; Prev</a>
        {{/if}}

        {{ pagination.name }}

        {{#if this.pagination.next}}
            <a href="{{paginifyPath this.pagination.next.path}}">Next &gt;</a>
        {{/if}}
    </nav>
{{/if}}



{{> pages ctx=..}}
