{{> header }}

<section class="mod-2-3-tertiary-masthead" id="hero_why_mapr">
  <div class="cell-1"></div>
  <div class="cell-2"></div>
  <div class="cell-main cell-dark">
    <div class="cell-inner"><h1>{{title}}</h1></div>
  </div>
  <div class="cell-4"></div>
  <div class="cell-5"></div>
  <div class="cell-6"></div>
  <div class="cell-7"></div>
</section>

<section class="mod-3-8b-text-only bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
          {{> user-account-form }}
      </div>
    </div>
  </div>
</section>

{{> footer }}
