{{> header }}

<section class="mod-2-3-tertiary-masthead" id="hero_why_mapr">
  <div class="cell-1"></div>
  <div class="cell-2"></div>
  <div class="cell-main cell-dark">
    <div class="cell-inner"><h1>{{title}}</h1></div>
  </div>
  <div class="cell-4"></div>
  <div class="cell-5"></div>
  <div class="cell-6"></div>
  <div class="cell-7"></div>
</section>

<div class="bg-grey" style="margin: auto; padding: 3rem; 0rem;">
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4"> -->
          {{> user-login-form}}
        <!-- </div>
      <div class="col-md-4"></div>
    </div>
  </div> -->
</div>

{{> footer }}
