@import "_variables.scss";


.btn {
	display: block;
	padding: 9px 20px 7px !important;
	margin: 2rem auto 2rem 0;
	text-align: center !important;
	font-size: 15px !important;
	line-height: 1em !important;
	font-weight: 800;
	min-width: 150px;
	max-width: 220px;
	border-radius: 0;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	opacity: 1;
	-webkit-transition: 0.2s color 0s $quick, 0.2s background-color 0s $quick, 0.2s border 0s $quick, 0.2s opacity 0s $quick;
	transition: 0.2s color 0s $quick, 0.2s background-color 0s $quick, 0.2s border 0s $quick, 0.2s opacity 0s $quick;
	outline: none !important;
	&:hover,
	&:focus {
		opacity: 0.7 !important;
	}
	&:active {
		box-shadow: inset 0 1px 4px rgba(0,0,0,0.3);
		transition-duration: 0.05s;
	}
	*:not(&) + & {
		margin-top: 3rem;
	}
}

@media (min-width:$tablet) {
	.btn {
		display: inline-block;
		& + & {
			margin-left: 15px;
		}
	}
}

.btn-standard {
	@extend .btn;
	color: $red !important;
	background-color: $white !important;
	border: 1px solid $white !important;
}
.btn-red {
	@extend .btn;
	color: $white !important;
	background-color: $red !important;
	border-color: $red !important;
}
.btn-dark {
	@extend .btn;
	color: $white !important;
	background-color: $black !important;
	border-color: $white !important;
}
.btn-light {
	@extend .btn;
	color: $black !important;
	background-color: $white !important;
	border-color: $black !important;
}
