@font-face {
	font-family: 'FFDINWebPro';
	src: url('../fonts/din_pro/32F85E_0_0.eot');
	src: url('../fonts/din_pro/32F85E_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/din_pro/32F85E_0_0.woff2') format('woff2'), url('../fonts/din_pro/32F85E_0_0.woff') format('woff'), url('../fonts/din_pro/32F85E_0_0.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'FFDINWebPro';
	src: url('../fonts/din_pro/32F85E_1_0.eot');
	src: url('../fonts/din_pro/32F85E_1_0.eot?#iefix') format('embedded-opentype'), url('../fonts/din_pro/32F85E_1_0.woff2') format('woff2'), url('../fonts/din_pro/32F85E_1_0.woff') format('woff'), url('../fonts/din_pro/32F85E_1_0.ttf') format('truetype');
	font-weight: 400;
}

* {
	font-family: 'FFDINWebPro', 'sinova_proregular', Arial, sans-serif;
}