@import "_variables.scss";


h1, h2, h3, h4, h5, h6, p, p, ul {
	margin-top: 0;
	margin-bottom: 0;
	color: $black;
	* + & {
		margin-top: 2rem;
	}
}
h5 + p,
h6 + p {
	margin-top: 0;
}

h1 {
	font-size: 36px;
	font-weight: 800;
	line-height: 1.1em;
	text-transform: uppercase;
}

h2 {
	font-size: 26px;
	font-weight: 800;
	line-height: 1.1em;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	font-weight: 800;
	line-height: 1.1em;
	text-transform: uppercase;
}

h4 {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.1em;
	text-transform: uppercase;
}

h5 {
	color: $red;
	font-size: 17px;
	font-weight: 800;
	line-height: 1.2em;
	margin-bottom: 0.3rem;
}

h6 {
	font-size: 17px;
	font-weight: 800;
	line-height: 1.5em; 
	margin-bottom: 0.3rem;
}

@media screen and (min-width:$tablet) {
	h1 {
		font-size: 42px;
	}
}
@media screen and (min-width:$desktop) {
	h2 {
		font-size: 30px;
	}
}
@media screen and (min-width:$monitorLarge) {
	h1 {
		font-size: 52px;
	}
}

p, a, label, li {
	font-size: 17px;
	font-weight: 400;
	line-height: 1.5em;
}

p {
	display: block;
}

label {
	margin: 1rem auto 0;
}

ul, ol {
}

li, {
}

a {
	display: inline-block;
	color: $red;
	font-weight: 400;
	line-height: inherit;
	cursor: pointer;
	&:hover,
	&:focus,
	&:active {
		color: $burgundy;
		text-decoration: none;
	}
	&:visited {
		color: $red;
	}
}

.arrow {
	position: relative;
	padding-right: 4rem;
	font-weight: 800;
	color: $red !important;
	&:after {
		content: '';
		display: block;
		position: absolute;
		right: 0;
		bottom: 6px;
		width: 32px;
		height: 15px;
		background-image: url(../images/icons/icon_arrow_cta.svg);
		background-position: 50%;
		background-repeat:  no-repeat;
		background-size: 32px 15px;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: 0.2s all 0s $quick;
		transition: 0.2s all 0s $quick;
	}
	&:hover:after,
	&:focus:after,
	a:hover &:after,
	a:focus &:after {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	* + & {
		margin-top: 1.5rem;
	}
	@media (min-width:$tablet) {
		* + & {
			margin-top: 2.5rem;
		}
	}
}

.arrow-no_text {
	@extend .arrow;
	display: inline-block;
	height: 15px;
	width: 32px;
	padding: 0;
	margin-left: 0;
	margin-bottom: -1rem;
	font-weight: 800;
}

.link-arrow {
	h3 + a,
	h6 + a,
	p + a,
	ul + a {
		@extend .arrow;
	}
}
.link-plus {
	a {
		@extend .arrow;
		padding-right: 2rem;
		&:after {
			width: 14px;
			height: 14px;
			bottom: 7px;
			background-image: url(../images/icons/icon_plus.svg);
			background-size: 14px 14px;
			transform: none !important;
		}
	}
}










