// Primary Colors
$red: #C8102E;
$black: #000000;
$white: #FFFFFF;

$greyLight: #EFEFEF;
$greyMedium: #A7A8AA;
$greyDark: #53565A;

// Secondary Colors
$burgundy: #782F40;
$blue: #7594B3;
$yellow: #FFC72C;

// Media Queries
$monitorLarge: 1600px;
$monitor: 1200px;
$desktop: 992px; 
$tablet: 767px;
$mobileLandscape: 600px;
$mobile: 480px;
$mobileSmall: 320px;

// Animations
$quick: cubic-bezier(0.6,0,0.1,1);