@import "_variables.scss";
@import "_fonts.scss";
@import "_typography.scss";
@import "_buttons.scss";
@import "_modules.scss";



html {
	background-color: $white;
}
hr {
	margin: 0.5rem 0;
}
.container {
	padding: 3rem 1rem;
}
.container-fluid {
	padding: 3rem 2rem;
}
.row {
	margin: 1rem auto;
	width: 100%;
}
.clearfix {
	&:before,
	&:after {
		content: '';
		display: block;
		clear: both;
		width: 100%;
	}
}
[class^="col"] {
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
	}
}
@media (min-width:$tablet) {
	.row {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	[class^="col-"] {
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
}



form {
	margin: 2rem auto 8rem;
	label,
	input,
	select,
	.form-group {
		display: block;
		width: 100%;
	}
	.form-group {
		position: relative;
	}
	label {
		font-size: 13px;
	}
	input,
	select {
		position: relative;
		background-color: $white;
    border: 1px solid $greyMedium;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: .1rem 1rem;
    border-radius: 0;
		font-size: 15px;
    line-height: 15px;
    -webkit-appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	}
	select {
		cursor: pointer;
		background-color: $greyLight;
	}
	.select--wrap {
		position: relative;
    height: 40px;
    width: 100%;
	}
	.select--wrap:before,
	.select--wrap:after {
		content: '';
		display: block;
		position: absolute;
		pointer-events: none;
		z-index: 2;
	}
	.select--wrap:before {
		height: 100%;
		right: 0;
		bottom: 0;
		width: 40px;
		background-color: $white;
		border: 1px solid $greyMedium;
	}
	.select--wrap:after {
		right: 12px;
		bottom: 16px;
		width: 16px;
		height: 16px;
		border-right: 1px solid $greyDark;
		border-bottom: 1px solid $greyDark;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	button[type="submit"] {
		margin-bottom: 0;
	}
	@media (min-width:$tablet) {
		margin: 2rem auto 0;
	}
}
.opt-in-group {
	input {
		position: absolute;
		left: -99999px;
		opacity: 0;
		visibility: collapse;
		z-index: -99999;
	}
	label {
		position: relative;
		margin-top: 2.5rem;
		padding-left: 4rem;
		font-size: 11px;
		cursor: pointer;
	}
	input + label .opt-in-box {
		position: absolute;
		top: 0;
		left: 0;
		width: 21px;
		height: 21px;
		border: 1px solid $greyMedium;
		&:before,
		&:after {
			content: '';
			position: absolute;
			height: 1px;
			left: 2px;
			width: 15px;
			top: 9px;
			background-color: transparent;
			opacity: 0;
		}
		&:before {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:after {
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
	}
	input:checked + label .opt-in-box {
		&:before,
		&:after {
			background-color: $greyDark;
			opacity: 1;
		}
	}
}



// Large screens
@media (min-width: 2000px) {
	.container {
		width: 1800px;
	}
}
@media (min-width: 1800px) {
	.container {
		width: 1650px;
	}
}
@media (min-width: 1600px) {
	.container {
		width: 1500px;
	}
}



.bg-grey {
	background-color: $greyLight;
	& + & {
		border-top: 2px solid $white;
	}
}
.bg-white {
	background-color: $white;
	& + & {
		border-top: 2px solid $greyLight;
	}
}



.col-3-img {
	.row {
		img {
			weight: 150px;
			height: 150px;
		}
	}
	@media (min-width:$tablet) {
		.row {
			img {
			weight: 200px;
			height: 200px;
			}
		}
	}
	@media (min-width:$monitor) {
		.row {
			img {
				weight: 250px;
				height: 250px;
			}
		}
	}
	@media (min-width:$monitorLarge) {
		.row {
			img {
				weight: 300px;
				height: 300px;
			}
		}
	}
}



[class^="mod-"] {
	position: relative;
	width: 100%;
}



.side-bar {
	.row > [class^="col"]:nth-child(2) {
		form {
			margin: 0 auto 5rem;
		}
//		label {
//			font-size: 13px;
//		}
		.side-bar-list {
			padding: 1em 0;
			margin: 1rem 0 5rem;
			border-top: 1px solid $greyLight;
			border-bottom: 1px solid $greyLight;
		}
		h6 {
			font-size: 16px;
		}
		a {
			padding: 0.5rem 0;
			display: block;
			width: 100%;
			font-size: 15px;
			line-height: 1.2em;
			@media (min-width:$mobile) {
				display: inline-block;
				vertical-align: top;
				width: 48%;
			}
			@media (min-width:$desktop) {
				display: block;
				width: 100%;
			}
		}
	}
}



// ----- Stage 2 Modules ----- //


// --- 1. NAVIGATION --- //

.navbar {
	margin-top: 0;
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	background-color: $black;
	min-height: 0;
	.container {
		padding: 0 15px;
		margin: 0 auto;
	}
}
.navigation-bar {
	padding-top: 0;
	margin: 0 -15px;
}
.navbar-logo {}
#menu {
	position: relative;
	float: none;
	border-top: 2px solid $white;
	@media (min-width:$desktop) {
		border-top: none;
		float: right;
	}
	ul {
		padding: 1rem 0;
		li > * {
			padding: 1.05rem 4rem 1rem;
			color: $white;
		}
		img {
			padding: 1rem;
		}
	}
}
#search_top_mobile {
	display: none;
	padding: 0rem 2rem;
	width: 100%;
	text-align: center;
	& > * {
		display: inline-block;
	}
	form {
		margin: 9px 0;
		padding: 0;
		input {
			height: 21px;
			width: 200px;
			padding: 0.1rem 0.5rem;
			color: $black;
		}
	}
	button {
		padding: 0;
		background: none;
		border: none;
	}
	@media (min-width:$desktop) {
		display: none !important;
	}
}
#navigation-mainbar {
	background-color: $black;
	border-bottom: 2px solid white;
	padding-bottom: 3rem;
	li {
		a {
			font-size: 15px;
		}
		[class^="btn"] {
			margin: 8px auto 2rem 4rem;
		}
	}
}
#navbar_search_mobile {
	display: block;
	float: right;
	height: 50px;
	width: 40px;
	border: 0;
	margin-right: 0.3rem;
	background: url(../images/icons/icon_microscope_white.svg) 50% no-repeat;
	background-size: 20px 20px;
	@media (min-width:$desktop) {
		display: none !important;
	}
}
#navbar-topbar {
	position: relative;
	background-color: $black;
	li {
		display: block;
		& > * {
			font-size: 13px;
		}
		&:last-child {
			display: none;
			padding: 0.25rem 0.5rem;
		}
	}
	#navbar_search {
		display: none;
		padding-left: 0;
		padding-right: 0;
		width: 0;
		opacity: 0;
		pointer-events: none;
		-webkit-transition: 0.25s all 0s;
		transition: 0.25s all 0s;
		&.show {
			width: 150px;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			opacity: 1;
			pointer-events: auto;
		}
		form {
			margin: 9px 0;
			padding: 0;
			input {
				height: 21px;
				padding: 0.1rem 0.5rem;
				color: $black;
			}
		}
	}

}
.navbar-toggle {
	padding: 15px;
	margin: 0 1rem 0 0;
	border: none;
	border-radius: 0;
	min-height: 50px;
	&:hover,
	&:focus {
		background: transparent !important;
	}
	.burger-bar {
		display: block;
		width: 22px;
		height: 3px;
		background-color: $white;
		-webkit-transition: 0.2s all 0s $quick;
		transition: 0.2s all 0s $quick;
		&:nth-child(1) {
			-webkit-transform: rotate(45deg) translateX(2px) translateY(2px);
			transform: rotate(45deg) translateX(2px) translateY(2px);
		}
		&:nth-child(2) {
			opacity: 0;
		}
		&:nth-child(3) {
			-webkit-transform: rotate(-45deg) translateX(2px) translateY(-2px);
			transform: rotate(-45deg) translateX(2px) translateY(-2px);
		}
	}
	&.collapsed {
		.burger-bar {
			margin-top: 4px;
			-webkit-transform: none;
			transform: none;
			opacity: 1;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}
@media (min-width:$desktop) {
	#navbar-topbar {
		#navbar_search {
			display: block;
		}
		li:last-child {
			display: block;
		}
	}
}


@media (min-width:$tablet) {
	.logo-mapr-red {
		margin-left: 3rem;
	}
}
@media (min-width:$desktop) {
	.navbar {
		margin-top: 40px;
	}
	#menu {
		position: relative;
		ul {
			padding: 0;
		}
	}
	#navigation-mainbar {
		padding-bottom: 0;
		border: none;
		li {
			a {
				padding: 16px 10px 10px;
			}
			[class^="btn"] {
				margin: 8px auto 0 10px;
			}
		}
	}
	#navbar-topbar {
		position: absolute;
		top: -40px;
		right: 0;
		background-color: $white;
		li {
			&:last-child {
				margin-right: -1rem;
			}
			a {
				padding: 10px;
				color: $red;
			}
		}
	}
	.navbar-collapse {
		border-top: 0;
	}
	.logo-mapr-red {
		margin-left: 0;
	}
}

.mod-1-1-top-nav {
	z-index: 100;
	border-bottom: 2px solid $white;
	.navbar {
		background-color: $black;
	}
	.logo-mapr-red {
		height: 50px;
		wdith: 136px;
		border-left: 2px solid $white;
		border-right: 2px solid $white;
//		margin-left: 2.5rem;
	}
	.icon-microscope {
		height: 2.6em;
		width: 2.6em;
		padding: 1rem 0;
		cursor: pointer;
	}
}

.mod-1-2-sub-nav {
	z-index: 99;
	height: 54px;
	.navbar {
		position: absolute;
    top: 0;
		width: 100%;
		margin-top: 0;
		background-color: $white;
		border-top: 2px solid $white;
		border-bottom: 2px solid $greyLight;
		&.sticky {
			position: fixed;
			.navbar-logo,
			#subnav-button {
				opacity: 1;
			}
		}
	}
	.navbar-header {
		text-align: center;
	}
	#menu-sub {
		text-align: center;
		padding: 0;
		ul {
			float: none;
			display: inline-block;
			vertical-align: middle;
			a {
				color: $red;
				font-size: 15px;
				font-weight: 800;
				padding: 16px 10px 10px;
				@media (min-width:$desktop) {
					color: $black;
				}
			}
		}
	}
	.navbar-logo {
		display: inline-block;
		border: none;
		img {
			height: 50px;
			width: 90px;
    	padding: 1.5rem 0;
			margin-right: 5.5rem;
		}
	}
	#subnav-button {
		display: none;
		float: right;
		margin: 0.7rem 0;
	}
	.navbar-logo,
	#subnav-button {
		opacity: 0;
		-webkit-transition: 0.4 all 0s $quick;
		transition: 0.4 all 0s $quick;
		display: none;
		@media (min-width:$desktop) {
			display: block;
		}
	}

	.navbar-toggle {
		float: none;
		margin: 0 auto;
		display: inline-block;
    vertical-align: middle;
		@media (min-width:$desktop) {
			display: none;
		}
		.burger-bar {
			background-color: $greyDark;
		}
	}
	.subnav-title {
		display: inline-block;
    vertical-align: middle;
		text-transform: uppercase;
		margin-top: 0.5rem;
    padding: 1.2rem 1.5rem 1.2rem;
		font-size: 15px;
		@media (min-width:$desktop) {
			display: none;
		}
	}
}

.mod-1-3-breadcrumbs {
	border-bottom: 2px solid $white;
	border-bottom: 2px solid $greyLight;
	.container {
		padding-top: 0;
		padding-bottom: 0;
	}
	.row {
    padding: 0 1.3rem;
    margin: 0 auto;
	}
	a {
		position: relative;
		color: $black;
		font-size: 15px;
		font-weight: 800;
		display: inline-block;
		vertical-align: top;
		padding: 1rem 1rem;
		text-transform: uppercase;
		&:after {
			content: '';
			display: inline-block;
			vertical-align: top;
			margin-left: 2rem;
			margin-top: 3px;
			height: 12px;
			width: 15px;
			background: url(../images/icons/icon_carrot_breadcrumbs.svg) 50% no-repeat;
			background-size: contain;
			cursor: default;
		}
		&:first-child {
			margin-left: -1rem;
		}
		&:last-child {
			color: $red;
			&:after {
				display: none;
			}
		}
	}
}
.mod-1-4-footer {
	border-top: 2px solid $white;
	background-color: $black;
	* {
		color: $white;
	}
	.row:first-child {
		margin-bottom: 0;
		[class^="col-"] {
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
	.footer-subnav {
		.h6 {
			margin-bottom: 2rem;
		}
		a {
			display: block;
			color: $white;
			font-weight: 800;
			margin: 15px auto;
		}
		& > *:nth-child(2) {
			a {
				font-weight: 100;
				font-size: 14px;
				line-height: 20px;
				margin: 8px auto;
			}
		}
		& > *:nth-child(3) {
			p {
				font-weight: 100;
				font-size: 14px;
				line-height: 20px;
				margin: 8px auto;
			}
		}
		.icon-tiny {
			height: 1em;
			width: 1em;
			display: inline-block;
			margin-left: 0.5em;
		}
	}
	.copyright {
		color: $greyMedium;
		margin-top: 23px;
		font-size: 10px;
	}
	.social-wrap {
		@extend .clearfix;
		a {
			float: left;
			margin-left: 2px;
			&:first-of-type {
				margin-left: 0;
			}
		}
		img {
			width: 35px;
			height: 35px;
		}
	}
}



// --- 2. MASTHEADS --- //

.mod-masthead {
	width: 100%;
	background-color: $black;
	background-position: 50%;
	background-size: cover;
	* {
		color: $white;
	}
	& > * {
		float: right;
		width: 0;
		height: 0;
		border: none;
	}
	.cell-dark {
		display: table;
		background-color: rgba(0,0,0,0.8);
		width: 100%;
		height: 100%;
		padding: 2rem 2.5rem;
	}
	.cell-inner {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		height: 100%;
	}
}

.mod-2-1-secondary-masthead {
	@extend .mod-masthead;
	height: 350px;
	p {
		margin: 1rem 0 2rem;
	}
	a {
		@extend .btn-standard;
		margin: 0 auto;
	}
	@media (min-width:$mobileLandscape) {
		height: 400px;
		& > * {
			float: right;
			width: 15%;
			height: 15%;
		}
		.cell-1 {
			height: 85%;
			border-left: 2px solid $white;
		}
		.cell-2 {
			width: 85%;
			border-bottom: 2px solid $white;
		}
		.cell-main {
			width: 70%;
			height: 70%;
			border-left: 2px solid $white;
		}
		.cell-4 {
			height: 70%;
		}
		.cell-5 {
			border-top: 2px solid $white;
			border-left: 2px solid $white;
		}
		.cell-6 {
			width: 70%;
			border-top: 2px solid $white;
			border-left: 2px solid $white;
		}
		.cell-7 {
			border-top: 2px solid $white;
		}
	}
	@media (min-width:$tablet) {
		height: 450px;
		& > * {
			width: 15%;
			height: 15%;
		}
		.cell-1 {
			height: 85%;
		}
		.cell-2 {
			width: 85%;
		}
		.cell-main {
			width: 70%;
			height: 70%;
		}
		.cell-4 {
			height: 70%;
		}
		.cell-5 {
		}
		.cell-6 {
			width: 70%;
		}
		.cell-7 {
		}
	}
//	@media (min-width:$monitorLarge) {
//		height: 500px;
//		& > * {
//			width: 25%;
//			height: 25%;
//		}
//		.cell-1 {
//			height: 75%;
//		}
//		.cell-2 {
//			width: 75%;
//		}
//		.cell-main {
//			width: 50%;
//			height: 50%;
//		}
//		.cell-4 {
//			height: 50%;
//		}
//		.cell-5 {
//		}
//		.cell-6 {
//			width: 50%;
//		}
//		.cell-7 {
//		}
//	}


}
.mod-2-1-secondary-masthead-no-button {
	@extend .mod-masthead;
	height: 300px;

	@media (min-width:$mobileLandscape) {
		height: 320px;
		& > * {
			float: right;
			width: 15%;
			height: 15%;
		}
		.cell-1 {
			height: 85%;
			border-left: 2px solid $white;
		}
		.cell-2 {
			width: 85%;
			border-bottom: 2px solid $white;
		}
		.cell-main {
			width: 70%;
			height: 70%;
			border-left: 2px solid $white;
		}
		.cell-4 {
			height: 70%;
		}
		.cell-5 {
			border-top: 2px solid $white;
			border-left: 2px solid $white;
		}
		.cell-6 {
			width: 70%;
			border-top: 2px solid $white;
			border-left: 2px solid $white;
		}
		.cell-7 {
			border-top: 2px solid $white;
		}
	}
	@media (min-width:$tablet) {
		height: 400px;
		& > * {
			width: 15%;
			height: 15%;
		}
		.cell-1 {
			height: 85%;
		}
		.cell-2 {
			width: 85%;
		}
		.cell-main {
			width: 70%;
			height: 70%;
		}
		.cell-4 {
			height: 70%;
		}
		.cell-5 {
		}
		.cell-6 {
			width: 70%;
		}
		.cell-7 {
		}
	}
//	@media (min-width:$monitorLarge) {
//		height: 450px;
//		& > * {
//			width: 25%;
//			height: 25%;
//		}
//		.cell-1 {
//			height: 75%;
//		}
//		.cell-2 {
//			width: 75%;
//		}
//		.cell-main {
//			width: 50%;
//			height: 50%;
//		}
//		.cell-4 {
//			height: 50%;
//		}
//		.cell-5 {
//		}
//		.cell-6 {
//			width: 50%;
//		}
//		.cell-7 {
//		}
//	}
}

.mod-2-2-homepage-masthead {
	@extend .mod-masthead;
	height: 700px;
	* {
		text-align: center;
	}
	.cell-dark {
		height: 100px;
		padding: 0 3rem;
		background-color: $black;
		border-top: 2px solid $white;
		* {
			margin: 0 auto 0 0;
			text-align: left;
			display: inline-block;
			vertical-align: middle;
		}
		img {
			width: 40px;
			height: 40px;
			margin-right: 2rem;
		}
		p, a {
			display: none;
		}
	}
	.cell-main {
		height: 400px;
		background-color: rgba(0,0,0,0.8);
		border-top: none;
		.cell-inner {
			display: none !important;
			opacity: 0;
			& > * {
				opacity: 0;
				-webkit-transition: 0.5s opacity 0s;
				transition: 0.5s opacity 0s;
			}
			&.active {
				display: table-cell !important;
				opacity: 1;
			}
			* {
				display: block !important;
				margin: 1rem auto 1rem 0;
				text-align: left;
			}
			h1 {
				min-height: 115px;
			}
			p {
				margin: 1rem auto 2rem;
				min-height: 3em;
			}
			img {
				width: 0px;
				height: 0px;
				visibility: collapse;
				opacity: 0;
				position: absolute;
				z-index: -99999;
				left: -99999px;
			}
		}
		a {
			@extend .btn-standard;
		}
	}
	#cell_solutions {
		a {
			@extend .btn-dark;
			display: none;
			margin-top: 1rem;
			margin-bottom: 0;
		}
		@media (max-width:$tablet) {
			img {
				margin-left: 0 !important;
			}
		}
	}
	.cell-inner {
		position: relative;
		display: table-cell;
		opacity: 0;
		z-index: 3;
		&.cell-hidden {
			display: none !important;
		}
	}
	@media (min-width:$tablet) {
		height: 650px;
		& > * {
			width: 25%;
			height: 25%;
			float: left;
			font-size: 3rem;
		}
		.cell-dark {
			text-align: left;
			background-color: rgba(0,0,0,0.8) !important;
			img {
				margin-right: 2rem;
			}
			h4 {
				margin-top: 0;
			}
			p {
				margin-top: 0.6rem;
			}
			a {
				margin: 1rem auto 0 0;
			}
		}
		.cell-main {
			width: 70%;
			height: 55%;
			padding-right: 0;
			border-right: 2px solid $white;
			border-bottom: 2px solid $white;
		}
		.cell-inner {
			padding: 3rem;
			text-align: left;
		}
		#cell_solutions {
			img {
				width: 100px;
				height: 100px;
			}
		}
		.cell-2 {
			width: 30%;
			height: 45%;
			border-bottom: 2px solid $white;
		}
		.cell-3 {
			width: 30%;
			height: 25%;
			border-left: 2px solid $white;
			margin-left: -2px;
		}
		.cell-4 {
			widows: 0;
			height: 0;
		}
		.cell-5 {
			width: 60%;
			height: 30%;
			border-top: 2px solid $white;
			border-right: 2px solid $white;
		}
		.cell-6 {
			width: 40%;
			height: 15%;
			border-top: 2px solid $white;
		}
		.cell-7 {
			width: 40%;
			height: 15%;
			border-top: 2px solid $white;
		}
		.cell-6.cell-dark,
		.cell-7.cell-dark {
			padding: 1rem 3rem;
			.cell-inner {
				padding: 0;
			}
			h4 {
				margin-top: 5px;
			}
		}
	}
	@media (min-width:900px) {
		height: 650px;
		#cell_solutions {
			& > * {
				display: inline-block;
			}
			img {
				width: 100px;
				height: 100px;
			}
		}
		#solutions_content {
			* {
				display: block !important;
			}
		}
	}
	@media (min-width:$desktop) {
		.cell-main {
			width: 50%;
			height: 55%;
			border-right: 2px solid $white;
			border-bottom: 2px solid $white;
		}
		.cell-2 {
			width: 50%;
			height: 45%;
			border-bottom: 2px solid $white;
		}
		.cell-3 {
			width: 20%;
			height: 25%;
			border-left: 2px solid $white;
			margin-left: -2px;
			margin-right: 1px;
		}
		.cell-4 {
			width: 30%;
			height: 25%;
			border-left: 2px solid $white;
		}
	}
	@media (min-width:$monitor) {
		.cell-main {
			width: 45%;
		}
		.cell-2 {
			width: 55%;
		}
		.cell-3 {
			width: 22%;
		}
		.cell-4 {
			width: 33%;
		}
	}

	.masthead-background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-size: cover;
		background-position: 50%;
		background-repeat: no-repeat;
		background-color: $black;
		-webkit-transition: 0.6s all 0s $quick;
		transition: 0.6s all 0s $quick;
	}
//	&,
	& > * {
		position: relative;
		.background-box {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../images/backgrounds/bg_skyscrapers.png) !important;
			background-position: 0 0;
			background-repeat: no-repeat !important;
			background-size: 2000px 900px !important;
			&.ready {
				-webkit-transition: 0.3s all 0s;
				transition: 0.3s all 0s ease-in;
			}
		}
	}
	.masthead-legend {
		position: absolute;
		left: -100%;
		right: unset;
		top: 0;
		width: 13rem;
		text-align: left;
		margin: 0;
		padding: 0;
		z-index: 5;
		opacity: 0;
		li {
			list-style: none;
			display: inline-block;
			margin: 0 0.3rem;
			height: 0.5rem;
			width: 3.5rem;
			background-color: $white;
			-webkit-transition: 0.3s background-color 0s;
			transition: 0.3s background-color 0s;
			&.active {
				background-color: $red;
			}
		}
		@media (min-width:$tablet) {
//			right: 0;
//			left: unset;
			left: 6rem;
			top: 58%;
		}
//		@media (min-width:$desktop) {
//			right: 0;
//		}
//		@media (min-width:$monitor) {
//			right: 0;
//		}
	}
}

.mod-2-3-tertiary-masthead {
	@extend .mod-masthead;
	height: 200px;
	@media (min-width:$mobileLandscape) {
		height: 250px;
		& > * {
			float: right;
			width: 15%;
			height: 10%;
		}
		.cell-1 {
			height: 90%;
			width: 15%;
			border-left: 2px solid $white;
		}
		.cell-2 {
			height: 10%;
			width: 85%;
			border-bottom: 2px solid $white;
		}
		.cell-main {
			width: 70%;
			height: 80%;
			border-left: 2px solid $white;
		}
		.cell-4 {
			height: 10%;
			width: 100%;
			border-top: 2px solid $white;
		}
	}
}

.mod-2-4-cdp-graphic {
	.container {
		overflow-x: hidden;
	}
	@extend .link-arrow;
	text-align: center;

	.cdp-wrapper {
		display: table;
		position: relative;
		padding: 0;
		margin: 0;
		width: 100%;
//		background: $black url(../images/backgrounds/bg_get_started_small.jpg) 50% no-repeat;
		background-size: 100% 100%;
		* {
			color: $white;
		}
	}
	.cdp-cell {
		position: relative;
		float: left;
		display: table-cell;
		border: 1px solid $white;
		width: 65%;
		height: 80px;
		padding: 1rem;
		text-align: left;
		background-color: $black;
		transition: 0.5s all 0s ease-out;
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(6), {
			width: 35%;
		}
		&:nth-child(4) {
			padding: 0;
			background: $red url(../images/logo_mapr_noTrademark.svg) 50% no-repeat;
			background-size: contain;
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			background-color: $black;
			background-position: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			-webkit-transition: 0.2s all 0s $quick;
			transition: 0.2s all 0s $quick;
			z-index: 1;
		}
		&:nth-child(1):after {
			background-image: url(../images/cdp/topleft.jpg);
		}
		&:nth-child(2):after {
			background-image: url(../images/cdp/topright.jpg);
		}
		&:nth-child(3):after {
			background-image: url(../images/cdp/middleleft.jpg);
		}
		&:nth-child(4):after {
			opacity: 0;
		}
		&:nth-child(5):after {
			background-image: url(../images/cdp/bottomleft.jpg);
		}
		&:nth-child(6):after {
			background-image: url(../images/cdp/bottomright.jpg);
		}
		&:nth-child(1):hover:after {
			background-image: url(../images/cdp-1.jpg);
			opacity: 1;
		}
		&:nth-child(2):hover:after {
//			background-color: $black;
			opacity: 0;
		}
		&:nth-child(3):hover:after {
			background-image: url(../images/cdp-2.jpg);
			opacity: 1;
		}
		&:nth-child(5):hover:after {
			background-image: url(../images/cdp-3.jpg);
			opacity: 1;
		}
		&:nth-child(6):hover:after {
//			background-color: $black;
			opacity: 0;
		}
		& > * {
			position: absolute;
			z-index: 2;
		}
		&:nth-child(2n+1) {
			opacity: 0;
			transform: translateX(-100px);
		}
		&:nth-child(2n) {
			opacity: 0;
			transform: translateX(100px);
		}
		&.moved {
			opacity: 1;
			transform: translateX(0);
		}
		.text {
			top: 1rem;
			left: 0;
		}
		h6, p {
			padding: 0 1rem;
		}
		h6 {
			text-transform: uppercase;
			font-size: 11px;
		}
		p {
			display: none;
		}
		span:last-child {
			@extend .arrow-no_text;
			display: none;
			padding-right: 3.2rem;
			position: absolute;
			bottom: 2.2rem;
			left: 2rem;
		}
	}
	@media (min-width:$mobile) {
		.cdp-cell {
			height: 140px;
			.text {
				top: 2rem;
			}
			h6, p {
				padding: 0 2rem;
			}
			h6 {
				font-size: 15px;
			}
			span:last-child {
				display: block;
			}
		}
	}
	@media (min-width:$tablet) {
		.cdp-cell {
			height: 180px;
			h6 {
				font-size: 17px;
			}
			p {
				display: block;
			}
		}
	}
}


// --- 3. MAIN CONTENT --- //

.mod-3-1a-type-large-graphic {
	@extend .link-arrow;
}
.mod-3-1a-type-large-graphic-blog-mod {
	.left {
		@extend .link-arrow;
	}
	.card-ish {
		h3 {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		h4 {

		}
		img {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		margin: 0 auto;
		padding-bottom:3rem;
		padding-top:1rem;
		padding-left:1rem;
		padding-right:1rem;
		max-width: 400px;
		display: block;
		background-color: $white;
		text-align: center;
	}
}
.mod-3-1b-type-large-graphic {
	@extend .link-arrow;
}

.mod-3-2a-icon-graphic-text {
	@extend .link-arrow;
	@extend .col-3-img;
}

.mod-3-2b-icon-graphic-text-flipped {
	@extend .link-arrow;
	@extend .col-3-img;
}

.mod-3-3-2up-type-graphic {
	@extend .link-arrow;
	h2 {
		margin-bottom: -4rem;
	}
	h6 {
		margin: 2rem auto 0.5rem;
	}
	@media (max-width:$tablet) {
		h2 {
			margin-bottom: unset;
		}
	}
}
.mod-3-4-3up-type-graphic {
	@extend .link-arrow;
	@media (min-width:$tablet) {
		.row > *:first-child {
			margin-bottom: 0;
		}
	}
	@media (min-width:$desktop) {
		.row > *:first-child {
			margin-bottom: 3rem;
		}
	}

}

.mod-3-4-3up-3sec {
	@extend .link-arrow;
	@media (min-width:$tablet) {
		.row > *:first-child {
			margin-bottom: 0;
		}
	}
	@media (min-width:$desktop) {
		.row > *:first-child {
			margin-bottom: 3rem;
		}
	}
}

.mod-3-4-3up-3sec h2{
		text-align: center;
}

.mod-3-6a-3up-type-graphic {
	text-align: center;
	img {
		width: 150px;
		height: 150px;
	}
	p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	.row:first-child {
		margin-bottom: -2rem;
	}
	@media (min-width:$tablet) {
		.row:first-child {
			margin-bottom: -5rem;
		}
	}
}
.mod-3-6b-3up-type-graphic {
	text-align: center;
	img {
		width: 150px;
		height: 150px;
	}
	p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
}

.mod-3-7b-4up-type-only {
	h2 {
		text-align: left;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	h4 {
		color: $red;
	}
	.row:first-child {
		margin-bottom: -2rem;
	}
	@media (min-width:$tablet) {
		.row:first-child {
			margin-bottom: -5rem;
		}
	}
	.row:nth-child(2) {
		padding-bottom: 1rem;
		[class^="col-"] {
			margin-bottom: 0;
		}
	}
	@media (min-width:$tablet) {
		h2 {
			text-align: center;
		}
		.row:nth-child(2) {
			padding-bottom: 3rem;
			[class^="col-"] {
				margin-bottom: 0;
			}
		}
	}
}

.mod-3-8b-quote-text-only {
	@extend .link-arrow;
	text-align: left;
	@media (min-width:$tablet) {
		text-align: center;
	}
}

.mod-3-9-text-image {
	@extend .link-arrow;
	img {
		height: 200px;
		width: 200px;
	}
}

.mod-3-10-use-case {
	@extend .side-bar;
	[class^="col"]:first-child {
		& > * {
			margin: 2rem auto;
		}
		& > img {
			margin: 4rem auto;
		}
		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	.use-case-logo {
		text-align: left;
		img {
			display: inline-block !important;
			width: 200px;
			height: auto;
			margin-bottom: 2rem;
		}
	}
}



// --- 4. CARDS --- //

.card {
	margin: 0 auto;
	max-width: 500px;
	h3 {
		font-size: 21px;
		margin-bottom: 1.5rem;
	}
}
.mod-4-1a-3up-image-cards {
	.card {
		display: block;
		padding: 5rem 2rem;
		background-color: $white;
		text-align: center;
	}
	img {
		margin-bottom: 3rem;
		width: 120px;
		height: 120px;
	}
	p {
		display: block;
		margin: 0 auto;
		max-width: 300px;
	}
}
.mod-4-1b-3up-image-cards {
	@extend .link-arrow;
	.card {
		height: 33rem;
		display: block;
		padding: 5rem 0 3.5rem;
		background-color: $white;
		text-align: center;
	}
	img {
		margin: 0 0 3rem;
	}
	h3, p {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	p {
		display: block;
		margin: 0 auto;
		max-width: 300px;
	}
	a {
		margin-top: 0 !important;
	}
}

.mod-4-1c-3up-image-cards-slider {
	@extend .link-arrow;
	.card {
		display: block;
		padding: 0 0 3.5rem;
		background-color: $white;
		text-align: center;
	}
	img {
		margin: 0 0 3rem;
	}
	h3, p {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	p {
		display: block;
		margin: 0 auto;
		max-width: 300px;
	}
	a {
		margin-top: 1.5rem !important;
		padding-right: 4rem !important;
	}
	.row:first-child {
		margin-bottom: 0;
	}
	.row:nth-child(2) {
		margin-top: 0 !important;
		text-align: center;
		a {
			@extend .btn-standard;
			margin: 0 auto !important;
		}
		@media (min-width:$tablet) {
			margin-top: 0 !important;
			& > * {
				margin-top: 0 !important;
			}
		}
	}
}
.knldge a{
	padding-top: 1rem;
}
.knldge h2{
	text-align: center;
}


// --- 5. GALLERIES ---//

.mod-5-4-heavy-content-stacked-cards {
	@extend .link-plus;
	img {
		width: 200px;
		height: 200px;
	}
	@media (min-width:$desktop) {
		img {
			width: 250px;
			height: 250px;
		}
	}
	p {
		margin-top: 2rem;
	}
	& + .mod-5-4-heavy-content-stacked-cards {
		border-top: none;
		margin-top: -3rem;
		.container {
			padding-top: 0;
		}
	}
	@media (min-width:$tablet) {
		& + .mod-5-4-heavy-content-stacked-cards {
			margin-top: -8rem;
			.container {
				padding-top: 0;
			}
		}
	}
}

.input-search {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 350px;
	background-image: url(../images/icons/icon_microscope_dark.svg);
	background-size: 15px 15px;
	background-position: 96% 46%;
	background-repeat: no-repeat;
}
.main-blog-styles {
	[class^="col"]:first-child {
		img {
			margin-bottom: 4rem;
		}
		h6 {
			font-weight: 400;
		}
		@extend .link-plus;
	}
	.blog-card {
		@extend .clearfix;
		padding-bottom: 2rem;
		[class^="col"] {
			padding-left: 0;
			padding-right: 0;
		}
		& + .blog-card {
			padding-top: 2rem;
			border-top: 2px solid $greyLight;
		}
		h6 {
			font-size: 15px;
		}
		@media (min-width:$tablet) {
			&:first-child {
				margin-top: -4rem;
			}
			&:last-child {
				margin-bottom: -4rem;
			}
			[class^="col"] {
				padding-left: 1rem;
				padding-right: 1rem;
			}
		}
	}
	@extend .side-bar;
}
.mod-5-5-blog-content-stacked-cards-plus-hero {
	@extend .main-blog-styles;
}
.mod-5-6-blog-content-stacked-cards {
	@extend .main-blog-styles;
}
.mod-5-7-blog-content-long-form {
	@extend .main-blog-styles;
	[class^="col"]:first-child {
		& > * {
			margin: 2rem auto;
		}
		img {
			margin: 4rem auto;
		}
		& > *:first-child {
			margin-top: 0;
		}
		& > *:last-child {
			margin-bottom: 0;
		}
	}
}

.light-card-row {
	margin: -4rem 0;
	& > * {
		margin: 0 auto;
		max-width: 500px;
	}
	@media (min-width:$tablet) {
		margin: -2rem 0;
		& > * {
			margin: 0 auto;
			max-width: 500px;
			padding: 2rem 1rem;
		}
	}
}
.mod-5-8-3up-light-content-cards {
	form {
		margin: 0 auto 4rem;
	}
	[class^="col"]:first-child {
		a {
			@extend .btn-standard;
			display: block;
			width: 100%;
			max-width: 300px;
			font-size: 13px !important;
			text-align: left !important;
			margin: 2px auto 0 !important;
			&:last-child {
				margin-bottom: 2rem !important;
			}
		}
	}
}
.mod-5-9-text-only-cards {
	@extend .link-arrow;
	form {
		margin: 0 auto 4rem;
	}
}



// --- 6. FORMS AND CTAs --- //

.mod-6-2-sign-off-with-2ctas {
	background-image: url(../images/backgrounds/bg_get_started_small.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	* {
		color: $white;
		text-align: center;
	}
	p {
		margin: 2rem auto 2.5rem;
	}
	a {
		@extend .btn-standard;
		margin-top: 0;
		margin-right: auto;
		margin-left: auto;
	}
	@media (min-width:$desktop) {
		background-image: url(../images/backgrounds/bg_get_started.jpg);
		background-size: cover;
	}
}
.mod-6-3-cta-and-short-form {
	background-image: url(../images/backgrounds/bg_get_started_small.jpg);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	h2, p {
		color: $white;
		text-align: center;
	}
	@media (min-width:$desktop) {
		background-image: url(../images/backgrounds/bg_get_started.jpg);
		background-size: cover;
	}
	form {
		text-align: center;
		margin: 0;
		.row {
			margin-top: 1rem;
		}
		.form-group {
			display: block;
			width: 80% !important;
			margin: 1rem auto;
			max-width: 400px;
		}
		@media (min-width:$tablet) {
			.form-group {
				display: inline-block;
				width: 40% !important;
			}
			.form-group:nth-child(2) {
				margin-left: 1.5rem;
			}
		}
		label {
			font-size: 13px;
			text-align: left !important;
			color: $white !important;
		}
		button {
			margin: 1rem auto 0;
		}
	}
}

.mod-6-5-long-form-copy {
	a {
		display: block;
	}
	.row:nth-child(n+3) {
		padding-top: 2rem;
		border-top: 2px solid $greyLight;
	}
	.row.list-extra-location {
		border-top: none;
		padding-top: 0;
		margin-top: -2rem;
	}
	[class^="col"] {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	form {
		margin: 2rem auto;
		button {
			margin: 3rem auto 0 !important;
		}
		@media (min-width:$tablet) {
			margin: 0 auto;
			button {
				margin: 0 auto 0 0 !important;
			}
		}
	}
}
.mod-6-6-contact-list {
	.row:nth-child(n+3) {
		padding-top: 2rem;
		border-top: 2px solid $greyLight;
	}
	.row.list-extra-location {
		border-top: none;
		padding-top: 0;
		margin-top: -2rem;
	}
	[class^="col"] {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	form {
		margin: 2rem auto;
		button {
			margin: 3rem auto 0 !important;
		}
		@media (min-width:$tablet) {
			margin: 0 auto;
			button {
				margin: 0 auto 0 0 !important;
			}
		}
	}
}



// ---------- end : MOVE TO _MODULES.SCSS ---------- //



#hero_skyscrapers {
	background-image: url(../images/backgrounds/bg_skyscrapers.png);
	background-position: 50% 10%;
}

#hero_why_mapr {
	background-image: url(../images/backgrounds/bg_why_mapr.png);
}

#hero_products_and_services {
	background-image: url(../images/backgrounds/bg_products_and_services.png);
}

#hero_contact_us {
	background-image: url(../images/backgrounds/bg_contact_us.png);
}

#hero_agility {
	background-image: url(../images/backgrounds/bg_agility.png);
}
