<ul class="menu parent js nav nav-tabs">
	
{{#each this.categoriesList}}
	  {{#ifcompare this.lang }} 
	<li role="presentation" class="dropdown menu__item is-expanded expanded menu-mlid-41501">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" >{{ this.Title }}</a>
	<ul class="dropdown-menu menu">
		{{#each this.children}}
			<li role="presentation" class="dropdown menu__item is-expanded expanded menu-mlid-41491"><a href="/{{ this.URL }}">{{ this.Title }}</a></li>
		{{/each}} 
	</ul>
	</li>
	{{else}}
	{{/ifcompare}}
{{/each}} 
</ul>

