<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>{{title}}</title>
    <meta name="description" content="{{ description }}">
    <!--START Google Tag Manager -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="/assets/css/frommapr.css" media="all">
    <link type="text/css" rel="stylesheet" href="/assets/css/adapted.css" media="all">
    <!--END Google Tag Manager -->
    <script>
	    var locale = "{{__ locale}}";
	    </script>
</head>

<body>

    <header class="header responsive" id="header" role="banner">
        <div class="header-wrapper">
            <div class="header__region region region-header">
                <div id="block-panels-mini-header-utility" class="block block-panels-mini first last odd">


                    <div class="panel-pane pane-block pane-menu-menu-utility-menu">
                        <div class="narrow">
                            <div class="top"></div>



                            <ul class="menu">
                                <li class="menu__item is-leaf first leaf"><a href="https://www.mapr.com/appblueprint" title="" class="menu__link">Converged Application Blueprint</a>
                                </li>
                                <li class="menu__item is-leaf leaf"><a href="/hadoop-developer-quicklinks" title="" class="menu__link">Developers</a>
                                </li>
                                <li class="menu__item is-leaf last leaf"><a href="/support/overview" title="" class="menu__link">Support </a>
                                </li>
                            </ul>

                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="panel-pane pane-block pane-search-form">
                        <div class="narrow">
                            <div class="top"></div>



                            <form action="/" method="post" id="search-block-form" accept-charset="UTF-8">
                                <div>
                                    <div class="container-inline">
                                        <h2 class="element-invisible">Search form</h2>
                                        <div class="form-item form-type-textfield form-item-search-block-form">
                                            <label class="element-invisible" for="edit-search-block-form--2">Search </label>
                                            <input title="Enter the terms you wish to search for." onblur="if (this.value == '') {this.value = 'Search';}" onfocus="if (this.value == 'Search') {this.value = '';}" placeholder="" type="text" id="edit-search-block-form--2" name="search_block_form" value="Search" size="15" maxlength="128" class="form-text" style="display: none;">
                                        </div>
                                        <div class="form-actions form-wrapper" id="edit-actions">
                                            <input type="submit" id="edit-submit" name="op" value="Search" class="form-submit">
                                        </div>
                                        <input type="hidden" name="form_build_id" value="form-Gh1lhd_1oeuThaAFfuNyMvQ7pP54GQY3S5mxwSzlyBY">
                                        <input type="hidden" name="form_id" value="search_block_form">
                                    </div>
                                </div>
                            </form>

                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="panel-pane pane-custom pane-2">
                        <div class="narrow">
                            <div class="top"></div>



                            <a href="/user">Login</a>


                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="panel-pane pane-block pane-block-11">
                        <div class="narrow">
                            <div class="top"></div>



                            <div>
                                <div class="ddOutOfVision" id="countries_msddHolder" style="height: 0px; overflow: hidden; position: absolute;">
                                    <select style="width:48px;height:28px;padding-left:4px;" onchange="window.location.replace(this.options[this.selectedIndex].value);" id="countries" name="countries" selected="selected">
                                        <option value="https://www.mapr.com/" class="us" data-image="/sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" data-imagecss="flag us" data-title="United States"></option>
                                        <option value="https://www.mapr.com/jp" class="jp" data-image="/sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" data-imagecss="flag jp" data-title="Japan"></option>
                                        <!--  <option value="https://www.mapr.com/fr" class="fr" data-image="/sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" data-imagecss="flag fr" data-title="France"></option> -->
                                        <option value="https://www.mapr.com/kr" class="kr" data-image="/sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" data-imagecss="flag kr" data-title="Korea"></option>
                                    </select>
                                </div>
                                <div class="dd ddcommon borderRadius" id="countries_msdd" style="width: 48px; height: 28px; padding-left: 4px;">
                                    <div class="ddTitle borderRadiusTp"><span class="divider"></span><span class="arrow arrowoff"></span><span class="ddTitleText us" id="countries_title"><img src="https://www.mapr.com/sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" class="flag us fnone"><span class="ddlabel"></span><span class="description" style="display: none;"></span></span>
                                    </div>
                                    <input id="countries_titleText" type="text" autocomplete="off" class="text shadow borderRadius" style="display: none;">
                                    <div class="ddChild ddchild_ border shadow" id="countries_child" style="z-index: 9999; display: none; position: absolute;">
                                        <ul>
                                            <li class="enabled _msddli_ selected" title="United States"><img src="https://www.mapr.com//sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" class="flag us fnone"><span class="ddlabel"></span>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="enabled _msddli_" title="Japan"><img src="https://www.mapr.com//sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" class="flag jp fnone"><span class="ddlabel"></span>
                                                <div class="clear"></div>
                                            </li>
                                            <li class="enabled _msddli_" title="Korea"><img src="https://www.mapr.com//sites/all/themes/maprcom/images/msdropdown/icons/blank.gif" class="flag kr fnone"><span class="ddlabel"></span>
                                                <div class="clear"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="bottom"></div>
                        </div>
                    </div>
                    <div class="panel-pane pane-block pane-block-181">
                        <div class="narrow">
                            <div class="top"></div>



                            <a href="/products/hadoop-download" class="big-button-link white">Download Now</a>

                            <div class="bottom"></div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="header--lowerbar">
                <a href="/blog" title="Blog" rel="blog" class="header--logo-blog" id="logo" style="display: none;"></a>
                <a href="/" title="Home" rel="home" class="header--logo" id="logo"><img src="https://www.mapr.com/sites/default/files/mapr-logo-r.png" alt="Home" class="header--logo-image">
                </a>
                <div id="navigation">
                    <div class="region region-navigation">
                        <div id="block-menu-block-6" class="block block-menu-block first last odd" role="navigation">

                            <!--This is where are navigation will get inserted-->
                            {{> blog-navigation }}


                        </div>
                    </div>
                </div>
            </div>

            <div id="bottomborder">
            </div>
        </div>
    </header>