    <section class="mod-400-1b-3up-image-cards bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a href="#" class="card">
              <img src="http://placehold.it/120x120" alt="Placeholder" />
              <h3>Events</h3>
              <p>Connect with MapR experts, customers, and partners around the globe.</p>
              <div class="arrow-no_text"></div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#" class="card">
              <img src="http://placehold.it/120x120" alt="Placeholder" />
              <h3>Blog</h3>
              <p>How-to advice, insights, best practices, and useful resources.</p>
              <div class="arrow-no_text"></div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="#" class="card">
              <img src="http://placehold.it/120x120" alt="Placeholder" />
              <h3>News</h3>
              <p>New releases, product announcements, and industry mentions.</p>
              <div class="arrow-no_text"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
