    <footer class="mod-1-4-footer">
  		<div class="container">
  			<div class="row footer-subnav">
  				<div class="col-xs-6 col-sm-4">
  					<h6>Why MAPR</h6>
  					<a href="#">Products &amp; Services</a>
  					<a href="#">Solutions</a>
  					<a href="#">Customers</a>
  					<a href="#">Training</a>
  					<a href="#">Blog</a>
  				</div>
  				<div class="col-xs-6 col-sm-4">
  					<h6>Company</h6>
  					<a href="#">Our Partners</a>
  					<a href="#">Press</a>
  					<a href="#">Investors</a>
  					<a href="#">Careers</a>
  				</div>
  				<div class="col-xs-12 col-sm-4">
  					<h6>Contact Us</h6>
  					<p>
  						Contact Sales <img class="icon-tiny" src="/assets/images/icons/icon_talkBubble.svg" alt="">
  					</p>
  					<p>
  						United States: +1 888 789 1488
  					</p>
  					<p>
  						Outside the US: +1 650 362 0488
  					</p>
  					<h6>
  						Legal
  					</h6>
  				</div>
  			</div>
  			<div class="row">
  				<div class="col-sm-4 col-sm-push-8 col-md-4 col-md-push-8">
  					<div class="social-wrap">
  						<a href="#" target="_blank">
  							<img src="/assets/images/social/social_linkedIn.svg" alt="">
  						</a>
  						<a href="#" target="_blank">
  							<img src="/assets/images/social/social_facebook.svg" alt="">
  						</a>
  						<a href="#" target="_blank">
  							<img src="/assets/images/social/social_twitter.svg" alt="">
  						</a>
  						<a href="#" target="_blank">
  							<img src="/assets/images/social/social_youTube.svg" alt="">
  						</a>
  						<a href="#" target="_blank">
  							<img src="/assets/images/social/social_email.svg" alt="">
  						</a>
  					</div>
  				</div>
  				<div class="col-sm-8 col-sm-pull-4 col-md-8 col-md-pull-4">
  					<p class="copyright">
  						© 2017 MapR Technologies, Inc. All Rights Reserved
  					</p>
  				</div>
  			</div>
  		</div>
  	</footer>

    {{> bottom_scripts }}

  </body>
</html>
