  <section class="mod-6-2-sign-off-with-2ctas">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2>
            Ready to get Started
          </h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <a href="#">CTA goes here</a>
          <a href="#">CTA goes here</a>
        </div>
      </div>
    </div>
  </section>
