<!doctype html>
<html class="no-js" lang="en">
	<head>
		<title>{{ title }} | MapR</title>
		{{> head_tags }}
	</head>
	<body>
		<header class="mod-1-1-top-nav">
			<div id="search_top_mobile">
				<form action="">
					<input type="text" placeholder="search">
				</form>
				<button>
					<img src="/assets/images/icons/icon_microscope.svg" class="icon-microscope" tabindex="1" alt="">
				</button>
			</div>
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
							<span class="burger-bar"></span>
							<span class="burger-bar"></span>
							<span class="burger-bar"></span>
							<span class="sr-only">Toggle navigation</span>
						</button>
						<button id="navbar_search_mobile"></button>
						<a class="" href="#">
							<img src="/assets/images/logo_mapr_red.svg" class="logo-mapr-red" alt="">
						</a>
					</div>
					<div class="collapse navbar-collapse navigation-bar" id="menu">
						<ul class="nav navbar-nav navbar-right" id="navigation-mainbar">
							<li><a href="/why-mapr/">WHY MAPR</a></li>
							<li><a href="/products/">PRODUCTS &amp; SERVICES</a></li>
							<li><a href="/solutions/">SOLUTIONS</a></li>
							<li><a href="/customers/">CUSTOMERS</a></li>
							<li><a href="/resources/">RESOURCES</a></li>
							<li><a href="/try-mapr/" class="btn-standard">TRY MAPR</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right navigation-bar" id="navbar-topbar">
							<li><a href="/partners/">Partners</a></li>
							<li><a href="/support/">Dev/Support</a></li>
							<li><a href="http://community.mapr.com">Community</a></li>
							<li><a href="http://academy.mapr.com">Training</a></li>
							<li><a href="/blog/">Blog</a></li>
							<li id="navbar_search">
								<form action="">
									<input type="text" placeholder="search">
								</form>
							</li>
							<li>
								<img src="/assets/images/icons/icon_microscope.svg" class="icon-microscope search-trigger" tabindex="1" alt="">
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
