    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>MapR - Modules</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- start : System Icons -->
    <link rel="apple-touch-icon" href="/assets/images/system/favicon.png">
    <link rel="shortcut icon" href="/assets/images/system/favicon.png" type="image/png">
    <link rel="icon" href="/assets/images/system/favicon.png" type="image/png">
    <!-- end : System Icons -->

    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap-xlgrid.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <script src="/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.2.min.js"><\/script>')
    </script>
