    <section class="mod-3-1a-type-large-graphic">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-6 col-xl-6 col-xl-push-6">
            {{{getContent . 'img'}}}
          </div>
          <a href="{{{getContent . 'a.href'}}}">
            <div class="col-md-6 col-md-pull-6 col-xl-5 col-xl-pull-6">
              {{{getContent . 'h2'}}}
              {{{getContent . 'p'}}}
              {{{getContent . 'a'}}}
            </div>
          </a>
        </div>
      </div>
    </section>
