<section class="mod-2-1-secondary-masthead" id="hero_why_mapr">
		<div class="cell-1"></div>
		<div class="cell-2"></div>
		<div class="cell-main cell-dark">
			<div class="cell-inner">
        {{{getContent . 'h1'}}}
        {{{getContent . 'p'}}}
        {{{getContent . 'a'}}}
			</div>
		</div>
		<div class="cell-4"></div>
		<div class="cell-5"></div>
		<div class="cell-6"></div>
		<div class="cell-7"></div>
	</section>
