    <section class="mod-3-1b-type-large-graphic">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-xl-6">
            {{{getContent . 'img'}}}
          </div>
          <div class="col-md-6 col-xl-5 col-xl-offset-1">
            {{{getContent . 'h2'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
          </div>
        </div>
      </div>
    </section>
