    <section class="mod-3-3-2up-type-graphic bg-grey">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
    				{{{getContent . 'h2'}}}
    			</div>
    			<div class="col-sm-6 col-md-4">
    				{{{getContent . 'img'}}}
    				{{{getContent . 'h6'}}}
    				{{{getContent . 'p'}}}
    				{{{getContent . 'a'}}}
    			</div>
    			<div class="col-sm-6 col-md-4">
            {{{getContent . 'img'}}}
    				{{{getContent . 'h6'}}}
    				{{{getContent . 'p'}}}
    				{{{getContent . 'a'}}}
    			</div>
    		</div>
    	</div>
    </section>
