    <section class="mod-3-2b-icon-graphic-text-flipped bg-grey">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-3 col-md-push-9">
            {{{getContent . 'img'}}}
    			</div>
    			<div class="col-md-9 col-md-pull-3 col-xl-8">
            {{{getContent . 'h2'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
    			</div>
    		</div>
    	</div>
    </section>
