    <section class="mod-3-1a-type-large-graphic-blog-mod bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-6 col-xl-6 col-xl-push-6">
            <div class="card">
              <h3>Latest Blog Post:</h3>
              <a href="{{ mainContext.blog.[0].filePath.href }}">
                <img src="{{ mainContext.blog.[0].filePath.href }}{{ mainContext.blog.[0].featuredImage }}" />
                <h4>{{ mainContext.blog.[0].title }}</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-md-pull-6 col-xl-5 col-xl-pull-6">
            {{{getContent . 'h2'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
          </div>
        </div>
      </div>
    </section>
