    <section class="mod-3-2a-icon-graphic-text bg-grey">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-3">
    				{{{getContent . 'img'}}}
    			</div>
    			<div class="col-md-9 col-xl-8 col-xl-offset-1">
            {{{getContent . 'h2'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'ul'}}}
            {{{getContent . 'a'}}}
    			</div>
    		</div>
    	</div>
    </section>
