    <section class="mod-2-2-homepage-masthead">
      <div class="masthead-background"></div>
      <div class="cell-main cell-dark">
        <div class="cell-inner">
          {{{getContent . 'h2'}}}
          {{{getContent . 'p'}}}
          {{{getContent . 'a'}}}
          {{{getContent . 'img'}}}
        </div>
        <div class="cell-inner">
          {{{getContent . 'h2'}}}
          {{{getContent . 'p'}}}
          {{{getContent . 'a'}}}
          {{{getContent . 'img'}}}
        </div>
        <div class="cell-inner">
          {{{getContent . 'h2'}}}
          {{{getContent . 'p'}}}
          {{{getContent . 'a'}}}
          {{{getContent . 'img'}}}
        </div>
      </div>
      <div class="cell-2"></div>
      <div class="cell-3"></div>
      <div class="cell-4"></div>
      <div class="cell-5 cell-dark">
        <div class="cell-inner" id="cell_solutions">
          {{{getContent . 'img'}}}
          <div id="solutions_content">
            {{{getContent . 'h4'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
          </div>
        </div>
      </div>
      <div class="cell-6 cell-dark">
        <div class="cell-inner">
          {{{getContent . 'img'}}}
          {{{getContent . 'h4'}}}
        </div>
      </div>
      <div class="cell-7 cell-dark">
        <div class="cell-inner">
          {{{getContent . 'img'}}}
          {{{getContent . 'h4'}}}
        </div>
      </div>
    </section>
