    <section class="mod-1-2-sub-nav">
      <nav class="navbar navbar-default">
        <div class="container">

          <div class="navbar-header">
            <div class="subnav-title">{{{getContent . 'p'}}}</div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-sub" aria-expanded="false">
              <span class="burger-bar"></span>
              <span class="burger-bar"></span>
              <span class="burger-bar"></span>
              <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-logo" href="#">
              <img src="/assets/images/logo_mapr_alternate.png" class="logo-mapr-red" alt="">
            </a>
          </div>

          <div class="collapse navbar-collapse navigation-bar" id="menu-sub">
            <ul class="nav navbar-nav">
              <li>{{{getContent . 'a'}}}</li>
              <li>{{{getContent . 'a'}}}</li>
              <li>{{{getContent . 'a'}}}</li>
            </ul>
            <button class="btn-red" id="subnav-button">TRY MAPR</button>
          </div>

        </div>
      </nav>
    </section>
