    <section class="mod-3-1a-type-large-graphic-blog-mod bg-grey">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-push-6 col-xl-6 col-xl-push-6">
            <div class="card-ish">
              <h3>Latest Blog Post:</h3>
              <a href="#">
                <img src="/assets/images/logo_mapr_red.png" />
                <h4>What HortonWorks doesn't want you to know</h4>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-md-pull-6 col-xl-5 col-xl-pull-6 left">
            {{{getContent . 'h2'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
          </div>
        </div>
      </div>
    </section>
