    <section class="mod-3-6a-3up-type-graphic bg-grey">
    	<div class="container">
    		<div class="row">
    			<div class="col-12">
    				{{{getContent . 'h2'}}}
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-sm-6 col-md-4">
            {{{getContent . 'img'}}}
            {{{getContent . 'h6'}}}
            {{{getContent . 'p'}}}
    			</div>
    			<div class="col-sm-6 col-md-4">
            {{{getContent . 'img'}}}
            {{{getContent . 'h6'}}}
            {{{getContent . 'p'}}}
    			</div>
    			<div class="col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-4">
            {{{getContent . 'img'}}}
            {{{getContent . 'h6'}}}
            {{{getContent . 'p'}}}
    			</div>
    		</div>
        <div class="row">
          <div class="col-12">
            {{{getContent . 'a'}}}
          </div>
        </div>
    	</div>
    </section>
