    <section class="mod-4-1b-3up-image-cards bg-grey">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4">
    				<div class="card">
              {{{getContent . 'a'}}}
              {{{getContent . 'h3'}}}
              {{{getContent . 'a'}}}
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="card">
              {{{getContent . 'a'}}}
              {{{getContent . 'h3'}}}
              {{{getContent . 'a'}}}
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="card">
              {{{getContent . 'a'}}}
              {{{getContent . 'h3'}}}
              {{{getContent . 'a'}}}
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
