		<section class="mod-3-7b-4up-type-only bg-grey">
			<div class="container">
				<div class="row">
					<div class="col-12">
						{{{getContent . 'h2'}}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						{{{getContent . 'h5'}}}
		        {{{getContent . 'p'}}}
					</div>
					<div class="col-md-4 col-sm-6">
		        {{{getContent . 'h5'}}}
		        {{{getContent . 'p'}}}
					</div>
					<div class="col-md-4 col-sm-6">
		        {{{getContent . 'h5'}}}
		        {{{getContent . 'p'}}}
					</div>
					<div class="col-md-4 col-sm-6">
		        {{{getContent . 'h5'}}}
		        {{{getContent . 'p'}}}
					</div>
					<div class="col-md-4 col-sm-6">
		        {{{getContent . 'h5'}}}
		        {{{getContent . 'p'}}}
					</div>
					<div class="col-md-4 col-sm-6">
		        {{{getContent . 'h5'}}}
		        {{{getContent . 'p'}}}
					</div>
				</div>
			</div>
		</section>
