<section class="mod-3-2a-icon-graphic-text">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        {{{getContent . 'h2'}}}
        {{{getContent . 'p'}}}
        {{{getContent . 'ul'}}}
        {{{getContent . 'a'}}}
      </div>
    </div>
  </div>
</section>
