    <section class="mod-3-8b-text-only bg-grey">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            {{{getContent . 'h2'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
    			</div>
    		</div>
    	</div>
    </section>
