    <section class="mod-6-2-sign-off-with-2ctas">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-8 col-md-offset-2">
            {{{getContent . 'h2'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
            {{{getContent . 'a'}}}
    			</div>
    		</div>
    	</div>
    </section>
