    <section class="mod-2-4-cdp-graphic">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="cdp-wrapper">
              <a class="cdp-cell">
                <span class="text">
                  {{{getContent . 'h6'}}}
                  {{{getContent . 'p'}}}
                </span>
                <span href="#"></span>
              </a>
              <a class="cdp-cell">
                <span class="text">
                  {{{getContent . 'h6'}}}
                  {{{getContent . 'p'}}}
                </span>
                <span href="#"></span>
              </a>
              <a class="cdp-cell">
                <span class="text">
                  {{{getContent . 'h6'}}}
                  {{{getContent . 'p'}}}
                </span>
                <span href="#"></span>
              </a>
              <div class="cdp-cell">
    <!--						<img src="images/logo_mapr_noTrademark.svg" alt="">-->
              </div>
              <a class="cdp-cell">
                <span class="text">
                  {{{getContent . 'h6'}}}
                  {{{getContent . 'p'}}}
                </span>
                <span href="#"></span>
              </a>
              <a class="cdp-cell">
                <span class="text">
                  {{{getContent . 'h6'}}}
                  {{{getContent . 'p'}}}
                </span>
                <span href="#"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
