    <section class="mod-3-4-3up-3sec">
    	<div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            {{{getContent . 'h2'}}}
          </div>
        </div>
    		<div class="row">
          <div class="col-md-10 col-md-offset-1">
            {{{getContent . 'h4'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
          </div>
          <div class="col-md-10 col-md-offset-1">
            {{{getContent . 'h4'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
          </div>
          <div class="col-md-10 col-md-offset-1">
            {{{getContent . 'h4'}}}
            {{{getContent . 'p'}}}
            {{{getContent . 'a'}}}
          </div>
    		</div>
    	</div>
    </section>
