<div id="registration">

	<h2>Register an account:</h2>

	<form id="ajaxform" action="#">
	  First name:<br> <input type="text" name="firstname" style="width:320px;"> <br>
	  Last name:<br> <input type="text" name="lastname" style="width:320px;"> <br>
	  Email:<br> <input type="text" name="email" style="width:320px;"> <br>
	  Mobile phone:<br> <input type="text" name="phone" style="width:320px;"> <br>
	<br>
	  <input type="submit" value="Submit" style="width:100px;">
	</form>
</div>
<div id="result" style="display:none">

	Thank you for registering!

	Check your email. We will be sending you an activation link.
	If you need help or do not receive the activation link, fill out the Contact Us form and select Community/Mapr Account from the drop down list.

</div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script>

var REGISTER_URL = 'https://mapr.com/account/register';

//callback handler for form submit
$("#ajaxform").submit(function(e)
{
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $.ajax(
    {
        url : REGISTER_URL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {
					$("#registration").hide();
					$("#result").show();
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            console.log(textStatus);
        }
    });
    e.preventDefault(); //STOP default action

});

</script>
