<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
    label,
    input {
        display: block;
    }

    input.text {
        margin-bottom: 12px;
        width: 95%;
        padding: .4em;
    }

    fieldset {
        padding: 0;
        border: 0;
        margin-top: 25px;
    }

    /*h1 {
        font-size: 1.2em;
        margin: .6em 0;
    }*/

    div#users-contain {
        width: 350px;
        margin: 20px 0;
    }

    div#users-contain table {
        margin: 1em 0;
        border-collapse: collapse;
        width: 100%;
    }

    div#users-contain table td,
    div#users-contain table th {
        border: 1px solid #eee;
        padding: .6em 10px;
        text-align: left;
    }

    .ui-dialog .ui-state-error {
        padding: .3em;
    }

    .validateTips {
        border: 1px solid transparent;
        padding: 0.3em;
    }
</style>

<table id="clusters_table" class="display">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Creation date</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<button id="add-cluster">Add new cluster</button>

<div id="dialog-form" title="Add cluster">
    <form>
        <fieldset>
            <label for="cluster_id">ID</label>
            <input type="text" name="cluster_id" id="cluster_id" value="" class="text ui-widget-content ui-corner-all">
            <label for="cluster_name">Name</label>
            <input type="text" name="cluster_name" id="cluster_name" value="" class="text ui-widget-content ui-corner-all">
            <label for="license_type">License Type</label>
            <input type="text" name="license_type" id="license_type" value="m7trial" class="text ui-widget-content ui-corner-all">

            <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
    </form>
</div>

<br/>

<script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-auth-js/1.5.0/OktaAuth.min.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.loadingoverlay/latest/loadingoverlay.min.js" type="text/javascript"></script>
<script>
    var OKTA_URL = 'https://mapr-ext.okta.com'
    var LS_USER_URL = 'https://mapr.com/account/ls/user';
    var LS_CLUSTERS_URL = 'https://mapr.com/account/ls/clusters'

    $(function() {

        var sessionId;
        var table;

        var authClient = new OktaAuth({
            url: OKTA_URL
        });
        authClient.session.get().then(function(session) {
            console.log(session);
            sessionId = session.id;

            $.get(LS_USER_URL + "?session=" + sessionId, function(data) {
                console.log(data);
                if (data.status == "error" && data.code == 1) {
                    console.log("TODO create user");
                    $.LoadingOverlay("show");

                    $.post(LS_USER_URL, {
                            "session": sessionId
                        })
                        .done(function(data) {
                            console.log(data);
                            table.ajax.reload(function() {
                                $.LoadingOverlay("hide");
                            });

                        });

                }
            });

            table = $('#clusters_table').DataTable({
                ajax: LS_CLUSTERS_URL + "?session=" + sessionId,
                dataSrc: 'data',
                "columns": [{
                        "data": "cluster.cluster_id"
                    },
                    {
                        "data": "cluster_name"
                    },
                    {
                        "data": "cluster.date_created"
                    }
                ]
            });
        });

        clusterName = $("#cluster_name");
        clusterId = $("#cluster_id");
        licenseType = $("#license_type");

        function addCluster() {

            var newCluster = {
                "session": sessionId,
                "cluster": {
                    "cluster_name": clusterName.val(),
                    "license_type": licenseType.val(),
                    "cluster_id": clusterId.val()
                }
            };

            $.LoadingOverlay("show");
            $.post(LS_CLUSTERS_URL, newCluster)
                .done(function(data) {
                    console.log(data);
                    var status = data.status;
                    if (status == "OK") {
                        table.ajax.reload(function() {
                            $.LoadingOverlay("hide");
                        });
                    } else {
                        $.LoadingOverlay("hide");
                        alert(data.message);
                    }
                })
                .fail(function(error) {
                    alert("error");
                    console.log(error);
                });

            dialog.dialog("close");
            return true;
        };

        dialog = $("#dialog-form").dialog({
            autoOpen: false,
            height: 400,
            width: 350,
            modal: true,
            buttons: {
                "Add new cluster": addCluster,
                Cancel: function() {
                    dialog.dialog("close");
                }
            },
            close: function() {
                form[0].reset();
            }
        });

        console.log(dialog);

        form = dialog.find("form").on("submit", function(event) {
            event.preventDefault();
            addCluster();
        });

        $("#add-cluster").button().on("click", function() {
            dialog.dialog("open");
        });
    });
</script>
