<div id="user_message"></div>
<form id="ajaxform" action="#">
  Password:<br> <input type="text" name="password" required="required"> <br>
  Select a security question:<br>
  <select name="question" required="required">
   <option value="" class="" selected="selected">-- Select --</option>
   <option value="What is the name of your first pet?" label="What is the name of your first pet?">What is the name of your first pet?</option>
   <option value="What street did you grow up on?" label="What street did you grow up on?">What street did you grow up on?</option>
   <option value="What was your high school mascot?" label="What was your high school mascot?">What was your high school mascot?</option>
   <option value="In what city were you born?" label="In what city were you born?">In what city were you born?</option>
   <option value="What is your father's middle name?" label="What is your father's middle name?">What is your father's middle name?</option>
</select>
<br>
  Answer:<br> <input type="text" name="answer" required="required"> <br>
<input type="hidden" name="id" id="id">
<input type="submit" value="Submit">
</form>

<div id="result" style="display:none">
	User registered.
</div>
<div id="error" style="display:none;color:red">
</div>
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script>

var CONFIRMATION_URL = 'https://mapr.com/account/confirm';
var REGISTRATION_URL = 'https://mapr.com/account/registration'

var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};

$("#ajaxform").submit(function(e)
{
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    $("#error").hide();
    $.ajax(
    {
        url : CONFIRMATION_URL,
        type: "POST",
        data : postData,
        success:function(data, textStatus, jqXHR)
        {

					if(data.id){
						$("#ajaxform").hide();
						$("#result").show();
					}
					else{
						if(data.errorCauses && data.errorCauses.length){
							$("#error").text(data.errorCauses[0].errorSummary);
						}
						else{
							$("#error").text('registration error');
						}
						$("#error").show();
					}

        },
        error: function(jqXHR, textStatus, errorThrown)
        {
					if(jqXHR.errorCauses && jqXHR.errorCauses.length){
						$("#error").text(jqXHR.errorCauses[0].errorSummary);
					}
					else{
						$("#error").text('registration error');
					}
        	console.log(jqXHR);
					console.log(textStatus);
					console.log(errorThrown);
        }
    });
    e.preventDefault(); //STOP default action

});

$( document ).ready(function() {
    	var id = getUrlParameter('id');

	$("#id").val(id);

	$.get(REGISTRATION_URL + '?id=' + id, function( data ) {
	  console.log(data);
	  if(data){
	    $("#user_message").text('Welcome, '+ data.firstname + ' ' + data.lastname + '! Please create a new password and security question for your MapR Account. ' );
	  }
	  else{
		$("#ajaxform").hide();
	  }
	});
});

</script>
