
<div id="okta-login-container"></div>

Need a MapR Account? <a href="/user/register">Click here to register</a>

<script src="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.8.0/js/okta-sign-in.min.js" type="text/javascript"></script>
<link href="/assets/css/vendor/okta-1.8.0.css" type="text/css" rel="stylesheet">
<!-- Customizable css theme options. Link your own customized copy of this file or override styles in-line -->
<link href="https://ok1static.oktacdn.com/assets/js/sdk/okta-signin-widget/1.7.0/css/okta-theme.css" type="text/css" rel="stylesheet">
<script type="text/javascript">

	var OKTA_URL = 'https://mapr-ext.okta.com';
  var USER_ACCOUNT_URL = "https://mapr.com/user/";

	var config = {
		baseUrl: OKTA_URL,
		redirectUri: USER_ACCOUNT_URL,
		authParams: {
			responseType: 'code',
			display: 'page'
		}
	};

	var oktaSignIn = new OktaSignIn(config);

	oktaSignIn.renderEl(
	  { el: '#okta-login-container' },
	  function (res) {
	    if (res.status === 'SUCCESS') {
				res.session.setCookieAndRedirect(USER_ACCOUNT_URL);
			}
	  }
	);
</script>
